.icon {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
}

.work-experience-title,
.work-experience-details {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h3 {
    margin: 0;
  }

  p {
    margin: 0;
  }
}

.work-experience-details {
  font-style: italic;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}

.work-experience-actions {
  display: flex;
  gap: 0.25rem;
}
