<app-dialog [isOpen]="isOpen" (closeDialog)="closeDialog()" [title]="selectedProfile ? 'Edit Profile' : 'Create Profile'">
    <app-profile-form #profileForm (onSubmit)="onSubmit($event)"></app-profile-form>
    <div dialog-footer class="dialog-footer-buttons">
        <button class="button-outline" (click)="profileForm.form.reset()">Cancel</button>
        <button class="button-primary" (click)="profileForm.submit()">Save</button>
    </div>
</app-dialog>

<header>
    <div class="profile-select-box">
        <select [value]="selectedProfile" (change)="onProfileSelect($event)">
            <option value="" [disabled]="selectedProfile">Select a profile</option>
            @for (profileListItem of listOfProfiles; track profileListItem.id) {
                <option value="{{ profileListItem.id }}">{{ profileListItem.firstName }} {{ profileListItem.lastName }}</option>
            }
        </select>
        <button class="button-icon" (click)="addProfile()">+</button>
    </div>

    <div class="title-box">
        @if (profile) {
            <h1>{{ profile.firstName }} {{ profile.lastName }}</h1>
        } @else {
            <h1>Please select a profile</h1>
        }
        @if (selectedProfile) {
            <div class="button-box">
                @if (!isLocked) {
                    <button class="button-icon" (click)="openDialog()"><svg-icon src="icons/edit.svg" name="edit" class="icon" style="width: 1rem; height: 1rem;"></svg-icon></button>
                }
                <button class="lock-button button-icon" (click)="toggleLock()">
                    @if (!isLocked) {
                        <svg-icon src="icons/locked.svg" name="locked" class="icon" style="width: 1rem; height: 1rem;"></svg-icon>
                    } @else {
                        <svg-icon src="icons/unlocked.svg" name="unlocked" class="icon" style="width: 1rem; height: 1rem;"></svg-icon>
                    }
                </button>
            </div>
        }
    </div>
    <h2>{{ profile?.jobTitle }}</h2>
    <ul *ngIf="profile?.location || profile?.email || profile?.phone" class="contact-details">
        <li><svg-icon src="icons/location.svg" name="location" class="icon"></svg-icon> {{ profile?.location?.state?.name }}, {{ profile?.location?.country?.name }}</li>
        <li><svg-icon src="icons/email.svg" name="email" class="icon"></svg-icon> <a [href]="'mailto:' + profile?.email">{{ profile?.email }}</a></li>
        <li><svg-icon src="icons/phone.svg" name="phone" class="icon"></svg-icon> <a [href]="'tel:' + profile?.phone">{{ profile?.phone }}</a></li>
    </ul>
</header>
