h2 {
    color: var(--color-text-gray-blue);
}

.icon {
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
}

.contact-details {
    display: flex;
    justify-content: space-between;
}

.contact-details {
    padding-left: 0;
    color: var(--color-text-gray-blue);
}


.contact-details li {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.contact-details li a {
    text-decoration: none;
    color: var(--color-text-gray-blue);
}