/* Variables
---------------------------------------- */
:root {
    --color-light-gray: #f0f0f0;
    --color-border-gray: #e0e0e0;
    --color-text-gray-blue: hsl(200, 20%, 33%);
    --color-gray-blue: hsl(200, 20%, 20%);
    --color-destructive: hsl(0, 80%, 50%);
    
    /* Additional color variables */
    --color-white: #f8f8f8;
    --color-border: #ccc;
    --color-dark: #2e2e2e;
}

/* Base Styles
---------------------------------------- */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--color-light-gray);
    color: var(--color-dark);
}

.container {
    box-sizing: border-box;
    max-width: 800px;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    background-color: var(--color-white);

    @media (min-width: 800px) {
        padding: 1.5rem 5rem;
    }
}

/* Form Elements
---------------------------------------- */
label {
    font-weight: bold;
}

select,
input {
    border: 1px solid var(--color-border);
    padding: 0.5rem;
    border-radius: 0.25rem;
}

select {
    background-color: var(--color-white);
}

hr {
    margin-top: -1rem;
    border: none;
    height: 1px;
    background-color: var(--color-dark);
}

/* Buttons
---------------------------------------- */
.button-primary,
.button-outline,
.button-icon {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}

.button-primary {
    background-color: var(--color-gray-blue);
    color: var(--color-white);
    border: none;
    transition: opacity 0.1s ease-in-out;

    &:hover {
        opacity: 0.8;
    }
}

.button-outline {
    background-color: transparent;
    color: var(--color-gray-blue);
    border: 1px solid var(--color-gray-blue);
    transition: background-color 0.1s ease-in-out;

    &:hover {
        background-color: var(--color-light-gray);
    }
}

.button-icon {
    display: inline-flex;
    width: 2rem;
    height: 2rem;
    padding: 0;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--color-gray-blue);
    color: var(--color-white);
    transition: opacity 0.1s ease-in-out;

    &.destructive {
        background-color: var(--color-destructive);
        color: var(--color-white);
    }

    &:hover {
        opacity: 0.8;
    }
}

/* Form Layout
---------------------------------------- */
.form-field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.form-field-array {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 0;
    
    .form-input-error-message {
        margin-top: -0.5rem;
        margin-bottom: 0.5rem;
    }
}

.form-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    margin-top: -1.5rem;
    margin-bottom: 1rem;
}

.parallel-form-field {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-bottom: 1rem;

    .form-field {
        flex: 1;
    }
}

/* Form Validation
---------------------------------------- */
.form-input-error {
    border: 1px solid var(--color-destructive);
}

.form-input-error-message {
    color: var(--color-destructive);
}

/* Dialog
---------------------------------------- */
.dialog-footer-buttons {
    display: flex;
    justify-content: end;
    gap: 0.5rem;
}